body{
   background-image: url(../images/sf4.jpg);
   margin-bottom: 5%;
   background-size: 100%;
}

.jumbotron{
    background-color: #f1f000;
    box-shadow: inset 1px 1px 1px 1px #6b6868;
    border: 3px solid #feffff!important;
    border-radius: 40px;
}

.jumbotron h1{
    font-size:100px;
    font-weight: 500;
    color:#f40000;
    background-color: black;
    border: 3px solid #feffff!important;
    box-shadow: inset 1px 1px 1px 1px #6b6868;
    border-radius: 40px;
    font-family: serif
   } 
 
 .innerCont{
     margin-left: 10px;
     margin-right: 10px;
 }  

 #imageOpen{
     max-width: 100%;
 }

 .modal-footer{
     display: inline;
 }

 .modal-content{
     background-color: black;
     border-color: rgb(249, 249, 252);
     box-shadow: inset 1px 1px 1px 1px #6b6868;
     border: 3px solid #feffff!important;
 }

